<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mindsparkk.traveladvisor">

    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />

    <permission
        android:name="com.mindsparkk.traveladvisor.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.mindsparkk.traveladvisor.permission.MAPS_RECEIVE" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:name=".app.MainApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Activity.MainLoginActivity"
            android:label="@string/app_name"
            android:theme="@style/AppThemeBlack">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="API_KEY" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <provider
            android:name="com.facebook.FacebookContentProvider"
            android:authorities="com.facebook.app.FacebookContentProviderAPI_KEY"
            android:exported="true" />


        <activity
            android:name=".Activity.SelectOptionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.RestaurantListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.PlaceDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.ReviewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.HotelListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.TouristPlaceListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.TouristMainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.FlightActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.FlightDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.SignUpActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.ShoppingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.SavedListActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoDisplay" />

        <receiver
            android:name="com.google.android.gms.analytics.AnalyticsReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="com.google.android.gms.analytics.ANALYTICS_DISPATCH" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.google.android.gms.analytics.AnalyticsService"
            android:enabled="true"
            android:exported="false" />

        <!-- Optionally, register CampaignTrackingReceiver and CampaignTrackingService to enable
             installation campaign reporting -->
        <receiver
            android:name="com.google.android.gms.analytics.CampaignTrackingReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>
        </receiver>

        <service android:name="com.google.android.gms.analytics.CampaignTrackingService" />

        <receiver android:name="MyAppWidgetProvider" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data android:name="android.appwidget.provider"
                android:resource="@xml/example_appwidget_info" />
        </receiver>

    </application>

</manifest>
